In [2]:
x<-read.table("10_07_Dataset_Problem_10_13.txt", header=TRUE, dec=".", sep=",")
x
dim(x)

   Failure Item1 Item2 Item3 Item4 Item5
1   1       2099  2504  4081  1015   382
2   2       5352  3060  5210  3686  1621
3   3       8116  3626  6722  4535  1629
4   4       9085  5559 15584  5279  6726
5   5      10581  6691 17759  5860  8356
6   6      12672 11848 21397  7454 12832
7   7      13042 17688 21858 12412 12910
8   8      14114 18955 24192 15361 23659
9   9      15310 19454 25468 15542 24169
10 10      15483 19590 29063 19305 24572

[1] 10  6