In [24]:
x<-read.table("14_09_Dataset_Problem_14_01.txt", header=FALSE, dec=".")
x
dim(x)

   V1
1  10.2
2  89.6
3  54.0
4  96.0
5  23.3
6  30.4
7  41.2
8   0.8
9  73.2
10  3.6
11 28.0
12 31.6

[1] 12  1

In [25]:
x<-read.table("14_09_Dataset_Problem_14_02.txt", header=FALSE, dec=".")
x
dim(x)

    V1
1     1.25
2   135.00
3     0.08
4     5.33
5   154.00
6     0.50
7     1.25
8     2.50
9    15.00
10    6.00
11    4.50
12   32.50
13    9.50
14    0.25
15   81.00
16   12.00
17    0.25
18    1.66
19    5.00
20    7.00
21   39.00
22  106.00
23    6.00
24    5.00
25   17.00
26    5.00
27    2.00
28    2.00
29    0.33
30    0.17
... ...
61    0.25
62    2.25
63   13.50
64    0.50
65    0.25
66    0.17
67    1.75
68    0.50
69    1.00
70    2.00
71    2.00
72   38.00
73    0.33
74    2.00
75   40.50
76    4.28
77    1.62
78    1.33
79    3.00
80    5.00
81  120.00
82    0.50
83    3.00
84    3.00
85   11.58
86    8.50
87   13.50
88   29.50
89   29.50
90  112.00

[1] 90  1

In [26]:
x<-read.table("14_09_Dataset_Problem_14_03.txt", header=TRUE, dec=".", sep=",")
x
dim(x)
x[1, 'Censored']==TRUE

   Strength Censored
1  26.8      TRUE
2  43.9     FALSE
3  52.6     FALSE
4  54.8     FALSE
5  57.1     FALSE
6  59.6     FALSE
7  29.6      TRUE
8  49.9     FALSE
9  52.7     FALSE
10 54.8     FALSE
11 57.1     FALSE
12 60.4     FALSE
13 33.4      TRUE
14 50.1     FALSE
15 53.1     FALSE
16 55.1     FALSE
17 57.3     FALSE
18 60.7     FALSE
19 35.0      TRUE
20 50.8     FALSE
21 53.6     FALSE
22 55.4     FALSE
23 57.7     FALSE
24 36.3     FALSE
25 51.9     FALSE
26 53.6     FALSE
27 55.9     FALSE
28 57.8     FALSE
29 40.0      TRUE
30 52.1     FALSE
31 53.9     FALSE
32 56.0     FALSE
33 58.1     FALSE
34 41.7     FALSE
35 52.3     FALSE
36 53.9     FALSE
37 56.1     FALSE
38 58.9     FALSE
39 41.9      TRUE
40 52.3     FALSE
41 54.1     FALSE
42 56.5     FALSE
43 59.0     FALSE
44 42.5      TRUE
45 52.4     FALSE
46 54.6     FALSE
47 56.9     FALSE
48 59.1     FALSE

[1] 48  2

[1] TRUE

In [27]:
x<-read.table("14_09_Dataset_Problem_14_11.txt", header=FALSE, dec=".")
x
dim(x)

   V1
1   12373
2   98474
3   26947
4  107318
5    5784
6   27838
7    9739
8    9662
9   90682
10  13000
11  61731
12   8086
13  12207
14  15269
15   7905
16  63589
17   4730
18  48162
19  31893
20  11269

[1] 20  1

In [28]:
x<-read.table("14_09_Dataset_Problem_14_12.txt", header=TRUE, dec=".", sep=",")
x
dim(x)

   V1    V2
1   31.7 FALSE
2   39.2  TRUE
3   57.5 FALSE
4   65.5 FALSE
5   65.8  TRUE
6   70.0 FALSE
7   75.0  TRUE
8   75.2  TRUE
9   87.5  TRUE
10  88.3  TRUE
11  94.2 FALSE
12 101.7  TRUE
13 105.8  TRUE
14 109.2 FALSE
15 110.0 FALSE
16 130.0  TRUE

[1] 16  2

In [30]:
x<-read.table("14_09_Dataset_Problem_14_13.txt", header=FALSE, dec=".")
x
dim(x)

   V1
1  413
2   14
3   58
4   37
5  100
6   65
7    9
8  169
9  447
10 184
11  36
12 201
13 118
14  34
15  31
16  18
17  18
18  67
19  57
20  62
21   7
22  22
23  34

[1] 23  1

In [31]:
x<-read.table("14_09_Dataset_Problem_14_16.txt", header=FALSE, dec=".")
x
dim(x)

   V1
1    9
2   12
3   11
4    4
5    7
6    2
7    5
8    8
9    5
10   7
11   1
12   6
13   1
14   9
15   4
16   1
17   3
18   3
19   6
20   1
21  11
22  33
23   7
24  91
25   2
26   1
27  87
28  47
29  12
30   9
31 135
32 258
33  16
34  35

[1] 34  1

In [32]:
x<-read.table("14_09_Dataset_Problem_14_17.txt", header=FALSE, dec=".")
x
dim(x)

   V1
1   31.7
2   39.2
3   57.5
4   65.0
5   65.8
6   70.0
7   75.0
8   75.2
9   87.7
10  88.3
11  94.2
12 101.7
13 105.8
14 109.2
15 110.0
16 130.0

[1] 16  1

In [33]:
x<-read.table("14_09_Dataset_Problem_14_18.txt", header=FALSE, dec=".")
x
dim(x)

   V1
1  12000
2  93000
3   5000
4   2000
5  11000
6  26000
7  94000
8  12000
9  49000
10 96000
11  9000
12 86000
13 65000
14  5000
15 10000
16  1000
17  8000
18 36000
19 32000

[1] 19  1